<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668982061367-0rcs0tr72nr2tea3g7fg4l1khnlg1kl5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668982061367-0rcs0tr72nr2tea3g7fg4l1khnlg1kl5</string>
	<key>API_KEY</key>
	<string>AIzaSyAOXV7UjCHjDtpFXCnF_uG3RMJJmkDmD94</string>
	<key>GCM_SENDER_ID</key>
	<string>668982061367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aniquiz</string>
	<key>PROJECT_ID</key>
	<string>aniquiz-4237a</string>
	<key>STORAGE_BUCKET</key>
	<string>aniquiz-4237a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668982061367:ios:43d269a59a3aa29e1e92b2</string>
</dict>
</plist>